
<div class="row">
    <div class="col-md-12">
    
<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Update Password</h4>
          <div class="small text-muted">Manage Password Protections</div>
        </div><!--/.col-->
        <div class="col-sm-7 d-none d-md-block">
          
          <!-- <button type="button" data-toggle="modal" (click)="create()" (click)="myModal.show()" class="btn btn-primary float-right"><i class="fa fa-plus-circle"></i></button> -->
          
        </div><!--/.col-->
      
 
      </div><!--/.row-->
      <hr>
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-right" for="text-input"> Old Password</label>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                  <input type="password"  class="form-control" id="OldPassword" name="OldPassword" placeholder="Old Password">
                  <div class="input-group-append">
                    <span class="input-group-text"><li class="fa fa-key"></li></span>
                  </div>
                </div>
              </div>
          
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-right" for="text-input"> New Password</label>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                  <input type="password"  class="form-control"  id="confirmpassword1" name="confirmpassword1" placeholder="New Password">
                  <div class="input-group-append">
                    <span class="input-group-text"><li class="fa fa-key"></li></span>
                  </div>
                </div>
              </div>
          
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-right" for="text-input"> Confirm New Password</label>
        <div class="col-md-6">
            <div class="form-group">
                <div class="input-group">
                  <input type="password"  class="form-control"  id="newpassword" name="newpassword" placeholder="Confirm Password" >
                  <div class="input-group-append">
                    <span class="input-group-text"><li class="fa fa-key"></li></span>
                  </div>
                </div>
              </div>
          
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label text-right" for="text-input"> </label>
        <div class="col-md-6">
            <div class="form-group">
                <button class="btn btn-block btn-danger" (click)="Save()" type="button">Submit</button>
              </div>
          
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <div class="card-footer">
      
    </div>
  </div>
  </div>
</div>

